.page {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed !important;
	background-size: cover !important;
}

.page-1 {
	background-image: url('../CBD1.png') !important;
}

.page-2 {
	background-image: url('../SWD2.png') !important;
}

.page-3 {
	background-image: url('../SWD3.png') !important;
}

.page-4 {
	background-image: url('../WABI1.jpg') !important;
}

.page-5 {
	background-image: url('../WABI2.jpg') !important;
}

/* .page-6 {
	background-image: url('../collage_2.png') !important;
}
 */


@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Karla", sans-serif !important;
	background-color: black;
}

.film-lines {
	position: relative;
	max-height: 100vh;
	min-width: min(1440px, 100vw);
	display: block;
}

.menu {
	position: fixed;
	min-height: 70px;
	min-width: 100%;
	background-color: rgba(0, 0, 0, 1);
	display: flex;
	justify-content: center;
	align-items: center;

	z-index: 10000;
}
.menu ul {
	display: flex;
	justify-content: center;
	list-style-type: none;
	align-items: center;
	column-gap: 32px;
}

.menu a {
	color: white;
	text-decoration: none;
}
.top-menu {
	top: 0;
}
.bottom-menu {
	bottom: 0;
}
.bottom-menu ul {
	display: none;
}

.logo {
	width: 125px;
	background-color: wheat;
}

@media (min-width: 1080px) {
	.bezel {
		width: 100%;
		height: 100vh;
		background-color: black;
		z-index: 100;
	}
}
